{% extends 'base.html' %}

{% block header %}
  <h1 class="text-center text-success mb-4">{% block title %}New Food{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="card shadow-lg border-0">
    <div class="card-body">
      <form method="post" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input name="name" id="name" class="form-control" value="{{ request.form['name'] }}" required>
        </div>
        <div class="mb-3">
          <label for="amount" class="form-label">Amount</label>
          <input name="amount" id="amount" class="form-control" value="{{ request.form['amount'] }}" required>
        </div>
        <div class="mb-3">
          <label for="measurement" class="form-label">Measurement</label>
          <input name="measurement" id="measurement" class="form-control" value="{{ request.form['measurement'] }}" required>
        </div>
        <button type="submit" class="btn btn-success w-100">Save</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
